.editor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    gap: 20px;
}

.main-canvas {
    width: 25rem;
    height: 25rem;
    margin: 1rem auto;
}

.meme-editor-items {
    width: 24.375rem;
    height: 25rem;
    background-color: rgb(58, 62, 73);
    border-radius: 10px;
    margin-top: 3.75rem;
    align-items: center;
}

.meme-text-editor {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) 50px minmax(50px, 1fr);
    grid-template-rows: 2;
    max-width: 20rem;
    gap: 10px;
    margin-top: 0.5rem;
    padding: 0.625rem;
    border-radius: 10px;
    margin-left: 10%;
}

.meme-text-input {
    grid-row: 1;
    grid-column: 1 / 4;
    background-color: #ebeef3;
    border-radius: 1.75rem;
    border: none;
    font-size: clamp(1vw, 1em, 3vw);
    padding-inline-start: 80px;
}

.add-line-btn {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: end;
    color: white;
    border: none;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    font-size: 1.5em;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.switch-line-btn {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    color: white;
    border: none;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #0c98bb 100% 100%);
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.delete-line-btn {
    grid-row: 2 / 3;
    grid-column: 3/4;
    justify-self: start;
    color: white;
    border: none;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #f05036 100%);
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.meme-text-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.meme-actions-container {
    flex-direction: column;
}

.actions-btn {
    align-self: center;
    /* border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer; */
}

.actions-btn button {
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 6px 0 #6b169c, inset 0 5px 0 #b863e9;
    background-color: #9920df;
}

.actions-btn a {
    color: white;
    font-family: poppins;
}

.file-input {
    width: 90px;
}

.share-container {
    justify-content: center;
}

