/* Large: 1100px */
/* medium: 960px */
/* small: 740px */

/* MOBILE MENU */

@media(max-width: 900px) {
    .main-layout {
        margin-left: 0;
    }

    .main-header {
        background-color: var(--clr-primary--7);
        box-shadow: inset 0px -6px 0 #111;
    }

    .main-header .logo {
        margin-right: 2.5rem;
        font-size: 1.2rem;
    }

    .main-header button {
        margin-left: auto;
        height: 25px;
        width: 35px;
    }

    .main-nav {
        position: fixed;
        background: #000;
        top: 25px;
        width: 100%;
        left: 0;

        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows .6s;
        align-content: end;
        align-items: end;
        overflow: hidden;
    }

    .main-layout.menu-open .main-nav {
        grid-template-rows: 1fr;
    }

    .main-nav>ul {
        grid-auto-flow: row;
        overflow: hidden;
        text-align: center;
    }

    .main-nav>ul>li {
        border-bottom: 1px solid #ccc;

    }

    .main-nav a {
        padding: 1.625rem 1rem;
    }

    .key-words-container button {
        /* flex: 1 0.5 50px; */
        max-width: 4rem;
        max-height: 1rem;
        font-size: 0.5rem;
        text-align: center;
        
    }

    .editor-container {
        width: 100%;
    }

    .meme-editor-items {
       gap: none;
    }

}

/* SMALL */

@media (min-width: 640px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 640px) minmax(16px, 1fr);
    }    
}

/* MEDIUM */
@media (min-width: 900px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 860px) minmax(16px, 1fr);
    }

    .main-header {
        height: 80px;
    }

    .main-header button {
        display: none;
    }

    .header-container {
        justify-content: space-between;
    }

    .main-nav {
        display: flex;
    }

    .main-nav ul {
        display: flex;
        align-items: center;
        gap: 70px;
    }

    .key-words-container button {
        flex: 1 0.5 70px;
    }

}

/* LARGE */

@media (min-width: 1020px) {

    html {
        font-size: 16px;
    }

    .main-layout {
        grid-template-columns: minmax(100px, 1fr) minmax(auto, 1200) minmax(100px, 1fr);
    }

}